body {
  font-family: sans-serif;
  color: #696868;
}

h2 {
  text-align: center;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #eee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #28bdb3;
    border-bottom: 2px solid #28bdb3;
}

label {
  display: none;
}

p {
  text-align: center;
}

input[type="radio"] {
  margin-top: 15px;
}


@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-4 .col-xs-6 .col-xs-12 .col-md-1 .col-md-2 .col-md-3 .col-md-4 .col-md-5 .col-md-6 .col-md-7 .col-md-8 .col-md-9 .col-md-10 .col-md-11 {
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-4 {
  width: 25%;
}

.col-xs-4 {
  width: 32.95%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  min-height: 42px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.form-control {
  height: 35px;
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4em;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s box-shadow ease-in-out .15s;
}

.credit-debit {
  width: 650px;
  height: auto;
}

.paypal {
  width: auto;
  height: 88px;
}

.alipay {
  width: auto;
  height: 88px;
}

.col-form-label {
  text-align: right;
}

.btn-submit {
  background: #e98e1f;
}

.btn-submit:hover {
  background: #d17f1b;
}

.tandc-pp:hover {
  text-decoration: none;
}

.btn-checkout {
  color: #fff;
  background: #ababab;
  font-family: monospace;
  font-weight: bold;
}

.btn-checkout:hover {
  background: #28bdb3 !important;
}

.payment-methods {
  background: #ddd;
  border-radius: 4px;
  padding: 50px;
}

@media (min-width: 992px){
  label {
    display: inline-block;
    text-align: right;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 32.95%;
  }

  .col-md-5 {
    width: 41.666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.333333333%;
  }

  .col-md-8 {
    width: 66.666666666%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.333333333%;
  }

  .col-md-11 {
    width: 91.666666666%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.666666667%;
  }

  .help-tip {
  	text-align: center;
  	background-color: #adadad;
  	border-radius: 50%;
  	width: 24px;
  	height: 24px;
  	font-size: 14px;
  	line-height: 26px;
  	cursor: pointer;
  }

  .help-tip:before{
  	content:'?';
  	font-weight: bold;
  	color:#fff;
  }

  .help-tip:hover p{
  	display:block;
  	transform-origin: 100% 0%;

  	-webkit-animation: fadeIn 0.3s ease-in-out;
  	animation: fadeIn 0.3s ease-in-out;

  }

  .help-tip p{	/* The tooltip */
  	display: none;
  	text-align: center;
  	background-color: #ababab;
  	padding: 20px;
  	position: absolute;
  	border-radius: 4px;
  	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  	color: #fff;
  	font-size: 13px;
  	line-height: 1.4;
    width: 230px;
  }

  .help-tip p:before{ /* The pointer of the tooltip */
  	position: absolute;
  	content: '';
  	width:0;
  	height: 0;
  	border:6px solid transparent;
  	border-bottom-color:#ababab;
  	top:-12px;
    left: 6px;
  }

  .help-tip p:after{ /* Prevents the tooltip from being hidden */
  	width:100%;
  	height:40px;
  	content:'';
  	position: absolute;
  	top:-40px;
  	left:0;
  }

  /* CSS animation */

  @-webkit-keyframes fadeIn {
  	0% {
  		opacity:0;
  		transform: scale(0.6);
  	}

  	100% {
  		opacity:100%;
  		transform: scale(1);
  	}
  }

  @keyframes fadeIn {
  	0% { opacity:0; }
  	100% { opacity:100%; }
  }

  .credit-debit{
    margin-top: 5px;
    width: 150px;
    height: 20px;
  }

  .paypal {
    width: 90px;
    height: 25px;
  }

  .alipay {
    width: 75px;
    height: 25px;
  }

  .form-control::-moz-placeholder {
      color: white !important;
      opacity: 1;
  }
  .form-control::-moz-placeholder {
      color: white  !important;
      opacity: 1;
  }
  *::-moz-placeholder {
      color: white !important;
  }
  .::-webkit-input-placeholder {
      color: white !important;
      opacity: 1;
  }
  ::-webkit-input-placeholder {
      color: white  !important;
      opacity: 1;
  }
  *::-webkit-input-placeholder {
      color: white !important;
  }

  .logo {
    margin-left: -10px;
  }

  .btn-back {
    display: none;
  }
}

footer {
  text-align: center;
  padding: 50px;
}

@media (max-width: 991px) {
  .form-control {
    height: 65px;
    font-size: 18px;
  }

  .btn-submit {
    height: 65px;
    font-size: 18px;
  }

  .btn-checkout {
    height: 65px;
    font-size: 18px;
  }
}
