body {
  font-family: sans-serif;
  color: #696868;
}

h2 {
  text-align: center;
}

.img-process {
  width: 40px;
  height: 40px;
}

.col-form-label {
  text-align: right;
}

.submit-button {
  background: #e98e1f;
}

.submit-button:hover {
  background: #d17f1b;
}

.tandc-pp:hover {
  text-decoration: none;
}

.btn-checkout {
  border: 1px solid #66e6d9;
  background: #66e6d9;
  min-height: 40px;
  min-width: 175px;
}

.btn-checkout:hover {
  background: #66e6d9;
}

.payment-methods {
  background: #ddd;
  border-radius: 4px;
  padding: 50px;
}
