body {
  font-family: sans-serif;
  color: #696868;
}

h1 {
  color: #a19d9d;
  font-weight: lighter;
}

.col-form-label {
  text-align: right;
}

.submit-button {
  background: #e98e1f;
}

.submit-button:hover {
  background: #d17f1b;
}

.tandc-pp:hover {
  text-decoration: none;
}

.btn-checkout {
  border: 1px solid #66e6d9;
  background: #66e6d9;
  min-height: 30px;
}

.btn-checkout:hover {
  background: #66e6d9;
}
