@import "variables";
.btn {
	display: inline-block;
	color: #fff;
	padding: 6px 12px;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 4px;
	min-height: 42px;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}
.btn-checkout {
	color: #fff;
	background: #ababab;
	font-family: monospace;
	font-weight: bold;
	&:hover {
		background: $turquoise !important;
	}
}
.btn-submit {
	background: $orange;
	&:hover {
		background: #d17f1b;
	}
}
@media (max-width: 991px) {
	.btn-submit {
		height: 65px;
		font-size: 18px;
	}
	.btn-checkout {
		height: 65px;
		font-size: 18px;
	}
	.btn-back {
		display: block;
	}
}
@media (min-width: 992px) {
	.btn-back {
		display: none;
	}
}
