.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.col-xs-6, .col-xs-8, .col-xs-11, .col-xs-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-8,	.col-sm-9,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-9 {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-6 {
	width: 50%;
}
.col-xs-8 {
	width: 66.666666666%;
}
.col-xs-11 {
	width: 91.666666666%;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-offset-2 {
	margin-left: 16.666666667%;
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 750px;
	}
	.col-sm-2 {
		width: 16.666666667%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 32.95%;
	}
	.col-sm-8 {
		width: 66.666666666%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-offset-2 {
		margin-left: 16.666666667%;
	}
	.col-sm-offset-8 {
		margin-left: 66.666666666%;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.col-md-1 {
		width: 8.3333333333%;
	}
	.col-md-2 {
		width: 16.666666667%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 32.95%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-offset-2 {
		margin-left: 16.666666667%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-4 {
		margin-left: 32.95%;
	}
}
